@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    font-family: "Nunito Sans";
    background: rgb(212, 201, 201);
    position: relative;
}

.container {
    display: flex;
    align-items: flex-end;
    min-height: 100vh;
    background: rgb(212, 201, 201);
    padding: 2.5rem 0;
    padding-right: 2.5rem;
    padding-left: 2.5rem;
}

.header-title {
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    font-family: "Nunito Sans";
    font-size: 13.5vw;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 12vw
}

.header-title-line {
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
}

.header-title-white {
    color: white;
    flex-flow: row;
    justify-content: flex-start;
}

.header-title-line {
    display: block;

}