* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul{
    position: relative;
    display: flex;
    flex-direction: column;
}

ul li {
    list-style: none;
}

ul li a {
    position: relative;
    display: inline-block;
    margin: 10px 0;
    font-size: 4em;
    text-decoration: none;
    color: #fff;
    transition: 0.2s;
}


/* CSS for Advance Cursor Change Effect*/
body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    cursor: none;
    background: rgb(27, 27, 27);
}

.cursor-inner {
    width: 10px;
    height: 10px;
    border: 1px solid white;
    background: white;
    border-radius: 50%;
    position: fixed;
    transform: translate(-50%, -50%);
    pointer-events: none;
    mix-blend-mode: difference;
}
.cursor-outer {
    width: 40px;
    height: 40px;
    border: 2px solid white;
    border-radius: 50%;
    position: fixed;
    transform: translate(-50%, -50%);
    transition-duration: 150ms;
    transition-timing-function: ease-out;
    pointer-events: none;
    mix-blend-mode: difference;
}

.cursor-hover {
    width: 70px;
    height: 70px;
    border: 1px solid rgb(255, 255, 255);
    transform: translate(-50%, -50%);
    background: rgb(255, 255, 255);
    border-radius: 50%;
    position: fixed;
    transition: width 200ms ease-out, height 200ms ease-out;
    pointer-events: none;
    mix-blend-mode: difference;
}

.cursor-none {
    display: none;
}

.cursor::after {
    content: "";
    width: 10px;
    height: 10px;
    padding: 20px;
    position: absolute;
    border: 2px solid #66FCF1;
    border-radius: 50%;
    opacity: .5;
    top: -23px;
    left: -23px;
    animation: cursorAnim2 .5s infinite alternate;
}

@keyframes cursorAnim {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(.7);
    }
}

/*
@keyframes cursorAnim2 {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(.4);
    }
}

@keyframes cursorAnim3 {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(3);
    }
    100% {
        transform: scale(1);
        opacity: 0;
    }
} */

/* .expand {
    animation: cursorAnim3 .5s forwards;
    border: 1px solid red;
}

p {
  color: white;
  font-family: 'arial';
  text-align: center;
  margin-top: 50px;
  font-size: 1.4em;
  
  a {
    color: teal;
  }
} */